<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username %></li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						</form>
					</li>
				</ul>
			</nav>
			<header class="header">
				<h2>Clients and Rules</h2>				
			</header>
			
			<section class="main">				
				<ul class="todo-list">
					<% clients.forEach( client => { %>
					<li class="client"> <%- client.name  %>
						<ul class="rules">
							<% client.rules.forEach( rule => { %>
							<li class="rule">
								<%- rule  %>
							</li>
							<% }); %>	
						</ul>
					</li>
					<% }); %>
				</ul>
				<h3>Rules for specific App</h3>
				<ul class="todo-list">
					<% rulesWithAppNames.forEach( rule => { %>
					<li>
						<p><%- rule.name  %></p>
						<p>Specific for <span><%- rule.appName%></span></p>
						
					</li>
					
					<% }); %>
				</ul>
				<h3>Global Rules</h3>
				<ul class="todo-list">
					<% globalRules.forEach( rule => { %>
					<li ><%- rule.name  %></li>
					<p><%- rule.appName%></p>
					<% }); %>
				</ul>
			
			</section>
			
			
			
	</body>
</html>
